<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MobileGameTest.MobileGameTest" android:versionCode="1" android:installLocation="auto" android:versionName="0.5b">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="BattlerMobile" android:icon="@drawable/Icon"></application>
</manifest>